<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100376626223-2d0ep1bsvp8is305ukgcj7s3ojurkp8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100376626223-2d0ep1bsvp8is305ukgcj7s3ojurkp8v</string>
	<key>API_KEY</key>
	<string>AIzaSyC_kLr6ZXOFvUMnxCBC4v-v_iasD92XVCg</string>
	<key>GCM_SENDER_ID</key>
	<string>100376626223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.brands.brandsapp</string>
	<key>PROJECT_ID</key>
	<string>brands-sa-ebc18</string>
	<key>STORAGE_BUCKET</key>
	<string>brands-sa-ebc18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100376626223:ios:8a2939ce60fcd17f</string>
	<key>DATABASE_URL</key>
	<string>https://brands-sa-ebc18.firebaseio.com</string>
</dict>
</plist>